        html {
			height: 100%;
		}
		
        body {
			height: 100%;
			margin: 0px;
			display: flex;
			justify-content: center;
			align-items: center;
			perspective: 1000px;
			background-color: #666666;
		}
		
		.box {
			width: 300px;
			height: 300px;
			animation: rotate 5s infinite linear;
			position: relative;
			transform-style: preserve-3d;
		}
		
		@keyframes rotate {
			from {
				transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
			}
			to {
				transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
			}
		}
		
		.box div {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
			box-sizing: border-box;
			opacity: 0.6;
			background-image: url(./img/1.JPG);
		}
				
		.box .front {
			transform: translateZ(150px);
		}
		
		.box .back {
			transform: translateZ(-150px);
		}
		
		.box .left {
			transform: rotateY(90deg) translateZ(150px);
		}
		
		.box .right {
			transform: rotateY(-90deg) translateZ(150px);
		}
		
		.box .top {
			transform: rotateX(90deg) translateZ(150px);
		}
		
		.box .bottom {
			transform: rotateX(-90deg) translateZ(150px);
		}

		.box1 {
			width: 150px;
			height: 150px;
			animation: rotate 5s infinite linear;
			position: absolute;
			transform-style: preserve-3d;
		}
		
		.box1 div {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
			box-sizing: border-box;
			opacity: 0.6;
			background-image: url(./img/2.JPG);
		}
		
		.box1 .front {
			transform: translateZ(75px);
		}		
		.box1 .back {
			transform: translateZ(-75px);
		}		
		.box1 .left {
			transform: rotateY(90deg) translateZ(75px);
		}		
		.box1 .right {
			transform: rotateY(-90deg) translateZ(75px);
		}		
		.box1 .top {
			transform: rotateX(90deg) translateZ(75px);
		}		
		.box1 .bottom {
			transform: rotateX(-90deg) translateZ(75px);
		}